body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header.parallax {
  background-image: url('/static/apple-bg.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 4rem;
}

main {
  color: #2e2e2e;
  padding: 20px;
}

.todo-container {
  background: rgba(30, 30, 30, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: -80px auto 50px auto;
  padding: 20px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  background-color: #007aff;
  border: none;
  padding: 15px 20px;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #3a3a3a;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

li button {
  background-color: red;
  border: none;
  padding: 5px 10px;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
}

li button:hover {
  background-color: darkred;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
}

@media (max-width: 768px) {
  h1 {
      font-size: 3rem;
  }

  .todo-container {
      width: 90%;
  }
}
